.catalog{
  padding-bottom: 93px;
  &__title{
    @include text($museo700, 30px, rgba(13,13,13,1), 36px, normal, normal);
    text-align: center;
    margin-bottom: 60px;
  }
  &__content {
    display: none;
    &_active {
      display: block;
    }
  }
  &__caption{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 59px;
  }

  &__item{
    width: 200px;
    height: 50px;
    margin-right: 10px;
    transform: skew(-22deg);
    border: 1px solid #D0D0D0;
    line-height: 50px;
    &_active{
      background-color: #c70101;
      border: none;
      color: white;
    }
    &:last-child{
      margin-right: 0;
    }
  }

  .skew_text{
    transform: skew(22deg);
    text-align: center;
    font-family: MuseoSansCyrl-500 ,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    cursor: pointer;
  }
  &__card{
    padding: 20px 20px 25px;
    border: 2px solid #e8e8e8;
    overflow: hidden;
    margin-bottom: 20px;
  }
  &__inner{
    display: flex;
    width: calc(200% + 44px);
  }
  &__front{
    width: 100%;
    text-align: center;
    padding-right: 20px;
    transition: .3s;
  }
  &__front_active{
    transform: translateX(-100%);
    transition: .3s;
  }
  &__back{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    transition: .3s;
  }
  &__back_active{
    transform: translateX(-100%);
    transition: .3s;
  }
  &__backOff{
    @include text($museo500, 14px, #c70101, 16px, normal, normal);
    position: absolute;
    left: calc(50% - 18px);
    transform: translate(-25%);
    bottom: 0;
    text-decoration: underline;
    text-transform: uppercase;
  }
  &__menu{
    position: relative;
    list-style-type: square;
    color: #c70101;
    height: 328px;
    &Item{
      margin-bottom: 22px;
      span{
        @include text($museo300, 14px, #555555, 16px, normal, normal);
      }
    }
  }
  &__frontTitle{
    @include text($museo700, 16px, #0d0d0d, 19px, normal, normal);
    margin: 20px 0 16px;
  }
  &__frontSubtitle{
    @include text($museo300, 14px, #0d0d0d, 16px, normal, normal);
    margin-bottom: 17px;
  }
  &__frontMore{
    @include text($museo500, 14px, #c70101, 16px, normal, normal);
    text-decoration: underline;
    text-transform: uppercase;
  }
  &__buy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    border-top: 1px solid #707070;
    margin-top: 19px;
  }
  &__oldPrice{
    @include text($museo700, 14px, #555555, 16px, normal, normal);
    text-decoration: line-through;
  }
  &__newPrice{
    @include text($museo700, 20px, #050505, 24px, normal, normal);
    margin-top: 6px;
  }
  &__btn{
    @include btn($museo500, 14px);
    padding: 10px 15px 10px;
  }
}
